{{> header title="Premier League Standings" }}

<div class="container">
    <div class="section columns">
        <div class="column is-8 is-offset-2">
            <h2 class="title has-text-centered">
                {{ result.competition.name }}
            </h2>

            <table class="table is-bordered is-striped is-narrow">
                <thead>
                    <tr>
                        <th width="10px">#</th>
                        <th>Team</th>
                        <th>P</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>F</th>
                        <th>A</th>
                        <th>GD</th>
                        <th>Pts</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each result.standings.0.table}}
                    <tr>
                        <td>{{ position }}</td>
                        <td><a href=/team/{{ team.id }}>{{ team.name }}</a></td>
                        <td>{{ playedGames }}</td>
                        <td>{{ won }}</td>
                        <td>{{ draw }}</td>
                        <td>{{ lost }}</td>
                        <td>{{ goalsFor }}</td>
                        <td>{{ goalsAgainst }}</td>
                        <td>{{ goalDifference }}</td>
                        <td>{{ points }}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{> footer }}